.home {
    .header {
        .avatar {
            display: inline-block;
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            background: url('~@/assets/avatar.jpg') no-repeat left top;
            background-size: cover;
        }
    }

    .home-content {
        margin-left: 180px;

        .ant-layout-content {
            background-color: #fff;
            padding: 15px;
        }
    }
}
